body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: snow;
  text-align: center;
}

h1 {
  font-family: sans-serif;
}

.menor {
  transition: 0.25s linear;
  color: tomato;
}

.mayor {
  transition: 0.25s linear;
  color: limegreen;
}

button {
  margin: 0 0.5rem;
}

button:hover {
  cursor: pointer;
}
